body {
  font-family: 'Press Start 2P', cursive;
  background-color: #000;
  max-width: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
}

header {
  background-color: #e8d8e3;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #080808;
  text-transform: uppercase;
  font-size: 36px;
  margin-top: 0;
  letter-spacing: 2px;
}

h2 {
  text-transform: uppercase;
}

nav a {
  font-size: 18px;
  color: #121111;
  text-decoration: none;
  margin: 0 15px;
}

nav a:hover {
  color: #ec1111;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  flex-direction: column;
}

nav li {
  display: inline;
  margin-top: 50px;
}

main {
  padding: 20px;
  display: flex;
  justify-content: center;
}


.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
}

.character-card {
  background-color: #000;
  border: 2px solid #9b637e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  width: 19%;
  margin: 5px;
}

.character-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px 0;
}

.character-card h2 {
  font-size: 20px;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.character-card p {
  font-size: 16px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.character-card button {
  background-color: #c66195;
  color: #0c0c0c;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.character-card button:hover {
  background-color: #cc5200;
}

#back-to-list-button:hover {
  background-color: #3c1616;
}

#back-to-list-button {
  background-color: #3c1616;
  color: #0f0e0e;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.modal {
  background-color: black;
  padding: 25px;
  border: #4b183b solid 3px;
  margin: auto;
  position: fixed;
  top: 3%;
  left: 25%;
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
  flex-direction: column;
}

.modal.open {
  opacity: 1;
  visibility: visible;
}

.modal .card {
  background-color: #fff;
  border: 2px solid #835270;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  width: 80%;
  max-width: 400px; /* Ajusta el ancho máximo según tus preferencias */
  border-radius: 10px;
  text-transform: uppercase;
}

.modal h2 {
  font-size: 24px;
  color: #f9f4f0;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.modal img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 5px 0;
}

.modal p {
  font-size: 18px;
  color: #fffefe;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.modal .close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ff6600;
  font-size: 24px;
  cursor: pointer;
}

.favorite-button {
  background-color: #ff6600;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.favorite-button:hover {
  background-color: #cc5200;
}

.close-button {
  background-color: rgb(49, 28, 43);
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.close-button:hover {
  background-color: #b07c57;
}

#search-input {
  border: 2px solid #ffffff;
  font-family: 'Press Start 2P', cursive;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  background-color: #070606;
  color: #745038;
}

#search-button {
  background-color: #d494c8;
  color: #fff;
  font-family: 'Press Start 2P', cursive;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
  transition: background-color 0.3s;
}

#search-button:hover {
  background-color: #674025;
  color: #fff;
}

.error-message {
  color: rgb(211, 137, 175);
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
}

@media (max-width: 1000px) {
  .row {
    width: 100%;
  }

  .character-card {
    width: 44%;
    margin: 5px;
  }
}

@media (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .row {
    width: 100%;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav li {
    margin-top: 40px;
  }

  .character-card {
    width: 100%;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 47px;
  }

  h2 {
    font-size: 18px;
  }

  nav a {
    font-size: 16px;
  }

  nav li {
    display: flex;
    flex-direction: column;
  }

  #search-button {
    margin-top: 10px;
    width: 93%;
  }

  .character-card {
    width: 100%;
  }
}